@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #d1cde4;
    padding: 0.375rem;
    font-family: Poppins, sans-serif;
    position: relative;
}

button,
a {
    all: unset;
    font: inherit;
    cursor: pointer;
}

nav {
    position: fixed;
    width: 5rem;
    /* Largura inicial do nav */
    height: calc(100vh - 0.75rem);
    background-color: #ffffff;
    padding: 1rem 0.75rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    transition: width 500ms ease;
    /* Adicionando transição de largura */
}

nav:hover {
    width: 20rem;
    /* Expande o nav quando o mouse está sobre ele */
}

main {
    margin-top: 10%;
    margin-left: 8rem;
    /* Defina a margem esquerda padrão do main */
    transition: margin-left 500ms ease;
    /* Adicione uma transição para suavizar a animação */
}

nav:hover+main {
    margin-left: 23rem;
    /* Ajusta a margem esquerda do main quando o nav estiver expandido */
}

body.active main {
    margin-left: 200rem;
    /* Ajusta a margem esquerda do main quando o nav estiver expandido */
}

#home-description, #home-social{
    padding: 1%;
    
}

.description{
    margin-bottom: 2%;
}

#obj-description,
#obj-list {
    padding: 1%;
}

#obj-list>ul>li{
    margin-top: 1%;
}

#home-social{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.orange{
    color: rgb(255, 115, 0);
}

.sidebar-header,
.sidebar-links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
}

.sidebar-header {
    display: flex;
    margin-bottom: 2rem;
}

.logo-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
}

.logo-wrapper>img {
    width: 3.25rem;
    height: 3.25rem;
    background-color: transparent;
    padding: 0.4rem;
    border-radius: 0.5rem;
    animation: rotateAnimation 5s linear infinite;
        /* Definindo a animação */
    }
    
    @keyframes rotateAnimation {
        0% {
            transform: rotateY(0deg);
        }
    
        /* Define a rotação inicial */
        100% {
            transform: rotateY(360deg);
        }
    
        /* Define a rotação final */
    }

.sidebar-links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: auto;
    gap: 0.6rem;
    height: 40%;
}

nav>.sidebar-links {
    border-top: 1px solid rgb(211, 211, 211);
}

body.active .sidebar-links,
body.active .sidebar-header,
body.active .user-profile {
    justify-content: start;
    align-items: stretch;
}

.link {
    display: flex;
    padding: 0.6rem;
    border-radius: 0.5rem;
    gap: 1.5rem;
}

.hidden {
    display: none;
}

nav:hover .hidden {
    display: inline;
    /* Mostra os elementos com a classe .hidden quando o nav estiver expandido */
}

.link:hover,
.link.active:hover {
    background-color: #d1cde4;
}

.social {
    background-color: #d1cde4;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    /* Adiciona uma transição suave para o efeito */
}

.social:hover {
    transform: scale(2.2);
    /* Aumenta o tamanho do elemento em 10% no hover */
}

.link.active {
    background-color: #f4f4f6;
}

.link>img {
    width: 24px;
    height: 24px;
}

.sidebar-bottom .sidebar-links {
    padding-bottom: 1.5rem;
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: -50px;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease;
}

body.active .toggle-btn {
    transform: rotate(180deg);
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
    border-top: 1px solid rgb(211, 211, 211);
    margin-bottom: 2rem;
}
.user-avatar {
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-avatar:hover {
    scale: 2.2;
}

.user-details {
    align-self: center;
    overflow: hidden;
    padding-left: 3%;
}

.user-details .username {
    font-size: 0.85rem;
    font-weight: 600;
}

.user-details .user-email {
    font-size: 0.8rem;
}

.imagem-backgrownd {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(90deg);
    z-index: -999;
}

.progress-bar {
    width: 30%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-A {
    width: 40%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #f0680e;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

.progress-B {
    width: 40%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #f0680e;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

.progress-C {
    width: 50%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #007bff;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

.progress-D {
    width: 80%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #c0eca2;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

.progress-E {
    width: 70%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #c0eca2;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

.progress-F {
    width: 50%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #007bff;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

.progress-G {
    width: 45%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #f0b30e;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

.progress-H {
    width: 80%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #c0eca2;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

.progress-I {
    width: 70%;
    /* Define o progresso da barra */
    height: 100%;
    background-color: #c0eca2;
    /* Cor da barra de progresso */
    transition: width 0.5s ease-in-out;
    /* Adiciona uma transição suave */
}

#anime-A {
    animation: myAnim-A 2s ease 0s 1 normal forwards;
}

#anime-B {
    margin-top: 1%;
    animation: myAnim-B 2s ease 2s 1 normal forwards;
    visibility: hidden;
}

#anime-C {
    margin-top: 1%;
    animation: myAnim-C 2s ease 3s 1 normal forwards;
    visibility: hidden;
}

#anime-D {
    margin-top: 1%;
    animation: myAnim-D 2s ease 4s 1 normal forwards;
    visibility: hidden;
}

#anime-E {
    margin-top: 1%;
    animation: myAnim-E 2s ease 5s 1 normal forwards;
    visibility: hidden;
}

#anime-F {
    margin-top: 1%;
    animation: myAnim-F 2s ease 6s 1 normal forwards;
    visibility: hidden;
}

#anime-G {
    margin-top: 1%;
    animation: myAnim-G 2s ease 7s 1 normal forwards;
    visibility: hidden;
}

#anime-H {
    animation: myAnim-H 2s ease 8s 1 normal forwards;
    visibility: hidden;
}

#anime-I {
    animation: myAnim-I 2s ease 9s 1 normal forwards;
    visibility: hidden;
}


@keyframes myAnim-A {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {  
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim-B {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim-C {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim-D {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim-E {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim-F {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim-G {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim-H {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim-I {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}